<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <table class="table">
      <% if @perticipants.present? %>
        <thead>
          <tr>
            <th>会員ID</th>
            <th>ニックネーム</th>
            <th>電話番号</th>
            <th>メール</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @participants.each do |participant| %>
            <tr>
              <td><%= participant.id %></td>
              <td><%= link_to participant.nickname, organizers_participant_path(perticipant.id)%></td>
              <td><%= @perticipant.nickname %></td>
              <td><%= @perticipant.telephone_numper %></td>
              <td>
                <% if participant.is_deleted == true %>
                  退会済
                <% else %>
                  在籍中
                <% end %>
              </td>
            </tr>
          <% end %>
        <tbody>
      <% else %>
        <td>参加者を心待ちにしています☺︎</td>
      <% end %>
    </table>
  </div>
</div>