<h3>ようこそ、虫めがね村へ</h3>
<div>
<ul>
    <li>虫めがね村では哲学書をメインとした教養書や古典文学の読書会を開催しています</li>
    <li>哲学書ってどんなの？</li>
    <li>大昔の偉人が残してくれた知識</li>
    <li>人生を深く覗き見る機会</li>
    <li>綿々と続く歴史の一部</li>
    <li>なんとなく読んでみたいな、哲学科の学生だけどよく分からないわ、哲学書？何それ美味しいの？なあなたも<br>
      こっそりひっそり参加してみてください。</li>
    <li>あたらしい世界が開けるかも。</li>
    <li>あなたも、きがるに、てがるに、哲学書を楽しんでみませんか？</li>
</ul>
<%= link_to "イベント一覧", events_path %>
</div>