<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="#">イベント一覧<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">イベント投稿</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">会員一覧</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">イベント連絡メール</a>
                </li>
                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_organizer_session_path, method: :delete, class: "nav-link" %>
                </li>
            </ul>
        </div>
    </nav>
</header>