<table class="table">
  <thead>
      <tr>
        <th>イベント名</th>
        <th>イベント内容</th>
        <th>開催日時</th>
        <th>開催状況</th>
      </tr>
    </thead>
  <tr>
    <td><%= @event.event_name%></td>
    <td><%= @event.content %></td>
    <td><%= l @event.date_and_time %></td>
      <% if @event.is_active == true %>
        <td>開催中</td>
      <% else %>
        <td>終了</td>
      <% end %>
    <td><%= link_to '編集する', edit_organizers_event_path, class: "btn btn-primary btn-md" %></td>
  </tr>
</table>